<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--保留 mybatis设置 和 别名的配置-->

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.ljs.learn.myspring.integration.mybatis.bean.User" alias="user"></typeAlias>
    </typeAliases>

</configuration>