<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--  DataSource:使用Spring的数据源替换Mybatis的配置
      使用Spring提供的JDBC：-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3307/test01?serverTimezone=UTC&amp;characterEncoding=utf8&amp;useUnicode=true&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <!-- 配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--  绑定mybatis配置文件  -->
        <property name="configLocation" value="classpath:integration/mybatis/transaction/mybatis-config.xml"/>
        <!--  注册mapper.xml   -->
        <property name="mapperLocations" value="classpath:com/ljs/learn/myspring/integration/mybatis/transaction/UserMapper.xml"/>
    </bean>

    <!-- 通过Spring提供的SqlSessionTempalte创建SqlSession  -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <!--只能通过构造器注入-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--########################################################-->
    <!--事务配置-->
    <!--配置声明式事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource" />
    </bean>

    <!--通过AOP织入事务-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!-- 配置事务的传播特性-->
        <!-- 为方法配置事务 -->
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--配置事务切入-->
    <aop:config proxy-target-class="true">
        <!--添加切入点：transcation下的所有类的所有方法-->
        <aop:pointcut id="transactionPoint" expression="execution(* com.ljs.learn.myspring.integration.mybatis.transaction.*.*(..))"/>
        <!--事务切入-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="transactionPoint"/>
    </aop:config>
    <!--########################################################-->
</beans>