<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置内容-->
<configuration>
    <properties resource="db.properties">
        <property name="password" value="12345"/>
    </properties>

    <!--为实体类添加别名-->
    <typeAliases>
        <typeAlias type="com.ljs.learn.mybatis.common.bean.User" alias="MyUser"/>
    </typeAliases>

    <!--配置多套环境-->
    <environments default="development">
        <environment id="development">
            <!--事务管理，使用JDBC-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <!--配置数据库连接-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--注册mapper，注册mapper对象的xml路径-->
        <mapper resource="com/ljs/learn/mybatis/firstSample/dao/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/mapperXml/crud/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/mapperXml/map/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/mapperXml/sqllike/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/configXml/typeAlias/UserMapper.xml"/>
    </mappers>
</configuration>
