<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置内容-->
<configuration>
    <properties resource="db.properties">
        <property name="password" value="12345"/>
    </properties>

    <settings>
        <!--添加日志-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>

        <!--开启数据库自动名 与 java属性名 命名规则的自动转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--显示开启mybatis二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--扫描包来添加别名-->
    <typeAliases>
        <package name="com.ljs.learn.mybatis.common.bean"/>
        <package name="com.ljs.learn.mybatis.common.bean02"/>
        <package name="com.ljs.learn.mybatis.common.bean03"/>
        <package name="com.ljs.learn.mybatis.common.bean04"/>
    </typeAliases>

    <!--配置多套环境-->
    <environments default="development">
        <environment id="development">
            <!--事务管理，使用JDBC-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <!--配置数据库连接-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--注册mapper，注册mapper对象的xml路径-->
        <mapper resource="com/ljs/learn/mybatis/firstSample/dao/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/mapperXml/crud/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/mapperXml/map/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/mapperXml/sqllike/UserMapper.xml"/>
        <mapper resource="com/ljs/learn/mybatis/configXml/typeAlias/UserMapper.xml"/>

        <!--通过类名来配置mapper-->
        <mapper class="com.ljs.learn.mybatis.configXml.mappers.UserMapper"/>
        <mapper class="com.ljs.learn.mybatis.mapperXml.resultmap.problem.UserMapper10"/>
        <mapper class="com.ljs.learn.mybatis.mapperXml.resultmap.newSql.UserMapper11"/>
        <mapper class="com.ljs.learn.mybatis.mapperXml.resultmap.simpleMap.UserMapper12"/>
        <mapper class="com.ljs.learn.mybatis.mapperXml.paging.UserMapper13"/>

        <!--sql片段-->
        <mapper class="com.ljs.learn.mybatis.mapperXml.sqlCode.UserMapper15"/>

        <!--配置使用注解开发的mapper-->
        <mapper class="com.ljs.learn.mybatis.annotation.UserMapper14"/>

        <!--多对一、一对多关系-->
        <mapper class="com.ljs.learn.mybatis.relation.moreToOne.StudentMapper"/>
        <mapper class="com.ljs.learn.mybatis.relation.moreToOne.TeacherMapper"/>
        <mapper class="com.ljs.learn.mybatis.relation.oneToMore.Teacher02Mapper"/>

        <!-- 动态sql -->
        <mapper class="com.ljs.learn.mybatis.dynamicSql.BlogMapper"></mapper>

        <!--缓存-->
        <mapper class="com.ljs.learn.mybatis.cache.l1.UserMapper16"></mapper>
        <mapper class="com.ljs.learn.mybatis.cache.l2.UserMapper17"></mapper>
    </mappers>
</configuration>
