<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace绑定一个Dao/Mapper接口-->
<mapper namespace="com.ljs.learn.mybatis.firstSample.dao.UserDao">
    <!--id绑定接口中的方法名, resultType设置返回类型-->
    <select id="getUsers" resultType="com.ljs.learn.mybatis.common.bean.User">
        select * from test01.user;
    </select>
</mapper>